.container {
  width: 350px;
  z-index: 10;

  /* NOTE: if modifying this value, also modify the onscroll function in Dashboard.tsx */
  padding-top: 30px;
}

.content {
  z-index: 10;

  /* NOTE: width here should match width of container */
  width: 350px;
}

.profile_container {
  padding: 8px 15px;
  /* TEMP */
  border-radius: 10px;
  border: 1px solid lightgray;
}

.top_stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 15px;
}

.bottom_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 3px;
}

.stats {
  display: flex;
  gap: 7px;
}

.levels {
  flex: 1;
  margin-top: 3px;
}
.level_title {
  font-weight: 600;
}
.level_current {
  font-size: 0.8rem;
  font-weight: 600;
}
.level_num {
  font-size: 0.8rem;
  color: gray;
  margin-top: 2px;
}
